#container{
    height:200px;
    display:flex;
    align-items:flex-end
}
body{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.bar{
   width:20px;
   background-color:aquamarine;
   margin: 1px;
   

}
h1{
    color: beige;
    padding-bottom: 300px;
    font-size: 3em;
}
button{
        color:beige;
        background-color: black;
        margin-top: 30px;
        font-size: 1em;
        padding-top: 10px !important;
        width: 250px !important;
        padding-right: 40px !important;
        
        
}